img{
	width: 30%;
	margin: 1.66%;
	float: left;
	object-fit: cover;
}
h1{
	text-align: left;
	font-family: 'Fredoka One', cursive;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 500;
	border-bottom: 3px solid #f1f1f1;
	width: 30%;
	padding-bottom: 15px;
}